@model MvcIng.Models.ChildModel

@{
    ViewBag.Title = "AddChild";
}

<h2>AddChild</h2>

@using (Html.BeginForm("AddKid", "Employees"))
{
    @Html.Label("Name:")
    @Html.TextBoxFor(model=>model.child.Name)<br />
    @Html.Label("Birth date: ")
    @Html.TextBoxFor(model=>model.child.BirthDate)<br />
    @Html.HiddenFor(model=>model.child.ChildID)
    @Html.HiddenFor(model=>model.child.UserID)
    <input type="submit" value="OK" />
}