@model MvcIng.Models.PasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
@using(Html.BeginForm("ChangePassword","Profile"))
{
    @Html.Label("Old password   ")
    @Html.TextBoxFor(model => model.oldPassword)
    @Html.ValidationMessageFor(model=>model.oldPassword)<br />
    
    @Html.Label("New password   ")
    @Html.TextBoxFor(model=>model.newPassword)
    @Html.ValidationMessageFor(model=>model.newPassword)<br />

    @Html.ValidationSummary(true)

    <p>
        <input type="submit" value="Change password" />
    </p>
}


